__pycache__
.vscode
.DS_Store
data
log*
*tfevents*
.*cache*
*temp*
!_temp.py
*.egg-info
build
*.log
program_output.txt
*.ipynb

trace_count.ipynb


*.txt
!requirements*.txt
pretrain_gpt2_codeparrot_short.sh
.hydra/*
cora/*
dataset/*
experiments/*

*.pt
*.pstats
_traincheck_*
test_meta_hypothesis_combination.py
!call_graph.json


# local dummy info from ziming's repo, please get rid of them after initial release
instrumented_84911.py
myuses.svg
process_call_graph.ipynb
pycallgraph.png
torch_function_distances_1.csv
torch_function_distances_2.csv
torch_function_distances_3.csv
torch_function_distances.csv
torch_wrapper.py
trace-analyzer.ipynb
instrumented_84911_watch.py
results/1_0.01/case_1_confusion_matrix.csv
!/traincheck/static_analyzer/func_level/*.log

*.json
*.prof
codeparrot*
Deepspeed/
!config.json
# local dummy files from yijun's branch
84911_100_proxy_trace
!/tests/test_trace_pandas/test_API_trace.log
/lightning-thunder
/machine-learning-issues/examples
*.bin

eval_scripts/perf_benchmark/overhead-e2e/*/*.svg
eval_scripts/perf_benchmark/overhead-e2e/*/selective*
eval_scripts/perf_benchmark/overhead-e2e/*/traincheck*
*results*
*perf_eval_res*
*.pth.tar
*.pth*
*ubyte*
eval_scripts/**/*.png
traincheck_run*
trace_*

tc_*/
traincheck-tutorial/